**/node_modules
**/.pnpm-store
**/.next
**/dist
**/coverage
**/.turbo
**/build
**/out

.git
.github

**/.env
**/.env.*
!**/.env.example

apps/api/uploads/**
!apps/api/uploads/.gitkeep

**/*.log
**/.DS_Store
